<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='script.js') }}"> </script>
</head>
<body>
  <a href="/rq">Go to monitor</a><br/><br/>

  <h3>Send POST request to /start</h3>
  <form id="form" method="post" enctype="multipart/form-data">
    <select name="tool" id="tool">
      <option value="check50">check50</option>
      <option value="checkpy">checkpy</option>
      <option value="check50v2">check50v2</option>
    </select><br/>
    <input type="file" name="file" id="file" required/><br/>
    <input type="text" name="slug" id="slug" placeholder="slug" required/><br/>
    <input type="text" name="webhook" id="webhook" placeholder="optional webhook"/><br/>
    <input type="password" name="password" id="password" placeholder="password" required/><br/>
    <button>Submit</button>
  </form>

  <h3>Response from POST request to /start</h3>
  <textarea id="post_result" readonly rows="8" cols="80"></textarea>
  <br/>

  <h3>GET response from /get/&lt;id&gt;</h3>
  <textarea id="result" readonly rows="30" cols="80"></textarea>
</body>
