<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='script.js') }}"> </script>
</head>
<body>
  <a href="/rq">Go to monitor</a><br/><br/>

  <h3>Send request</h3>
  <form id="form" method="post" enctype="multipart/form-data">
    <input type="file" name="file" id="file" required/><br/>
    <input type="text" name="slug" id="slug" placeholder="slug" required/><br/>
    <input type="text" name="webhook" id="webhook" placeholder="webhook"/><br/>
    <button>Submit</button>
  </form>
  <br/>

  <h3>Response</h3>
  <textarea id="result" readonly rows="40" cols="80"></textarea>
</body>
